/* ======================== CSS Reset ======================== */
*{
    margin : 0;
    padding: 0;
    outline : none;
    box-sizing: border-box;
    font-family : "Raleway-Regular";
    scroll-behavior: smooth;
}

body{
    display : flex;
    align-items : center;
    flex-direction: column;
}

h1{
    font-size : 3rem;
    font-family : "Lobster";
    text-align : center;
    margin : 50px;
    color : rgb(255, 255, 255);
    text-shadow: 3px 3px 5px black, -1px -1px 3px black;
}

/* ======================== FONTS ======================== */
@font-face{
    font-family : "Raleway-Regular";
    src : url('../Fonts/Raleway/static/Raleway-Regular.ttf');
}

@font-face{
    font-family : "Raleway-Medium";
    src : url('../Fonts/Raleway/static/Raleway-Medium.ttf');
}

@font-face{
    font-family : "RocknRollOne-Regular";
    src : url('../Fonts/RocknRoll_One/RocknRollOne-Regular.ttf');
}

@font-face{
    font-family : "Lobster";
    src : url('../Fonts/Lobster/Lobster-Regular.ttf');
}
/* ============================================================ */